@import url(http://weloveiconfonts.com/api/?family=brandico);
body,html{
    font-family: 'Kaushan Script', 'Pacifico', cursive;
    margin: 0;
    padding:0;
    position: relative;
    background-color: #f5f5f5;
}
header{
    position: fixed;
    width: 100%;
    background: #1D1D3c;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1; 
    
}
#logo{
    position: inherit;
    padding:5px 20px 0 10px;
    border:3px solid #A0A0E0;
    background: #F4DAF7;
    margin-left: 50px;
    margin-top: 20px;
}
#first{
    display: block;
    color:#7D4CAC;
    z-index: 2;
    position: relative;
}
#second{
    color:#1D1D3c;
    z-index: 1;
    bottom: 10px;
    left:10px;
    position: relative;
}
#nav {
    display: block;
    background: #1D1D3c;
    width: 100%;
    position: fixed;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, -300px);
    transform: translate(0, -300px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
    z-index: 2;
  }
#nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
#nav-list{
    background: #1D1D3c;
    position: inherit;
    list-style-type: none;
    float:right;
    width: 100%;
}
#nav-list li{
    min-width:48px;
    min-height:48px;
}
.nav-link{
    font-family: 'Open Sans', sans-serif;
    color: #F4DAF7;
    text-decoration: none;
}
#menu {
    width: 35px;
    fill: #F4DAF7;
    float: right;
    margin:5px 20px;
    z-index: 3;
}
.image{
    margin: 0 auto;
    padding-top:0;
    background-image: linear-gradient(to bottom, rgba(209,157,235,0.3) 0%,rgba(209,157,235,0.3) 100%), url(http://twinyc.com/g/2/mi/minimalist-worke-home-office-desk-setup-free-image-download-corner-computer-architecture-design-build-your-own-plans-imac-organization-ideas-table-designs-for-small-860x574.jpg);
    height: 700px;
    max-width: 1300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
#Greeting{
    width:100%;
    color: black;
    text-align: center;
}
#Greeting1{
    padding-top:250px; 
    font-size:4em;
    display:block;
}
#Greeting2{
    font-size: 1.54em;
}
#about{
    padding-top:100px;
    text-align: center;
    width:100%;
    background: #1D1D3c;
    height: 470px;
    color: #F4DAF7;
    box-sizing: border-box;
}
#projects{
    text-align: center;
    background: #eee;
    padding-top:20px;
    min-height: 550px;
}
h1{
    margin-top:0;
    text-decoration: underline;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.proj{
    background:white;
    width:95%;
    margin:0 auto;
    border:1px solid lightgray;
    margin-bottom: 10px;
    padding:5px;
    padding-bottom: 20px;
    text-align: initial;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Open Sans', sans-serif;
    margin:5px 0;
}
img{
    margin: 0 auto;
    width: 100%;
    opacity: 0.4;
    margin-bottom: 30px;
}
#contact{
    background: rgba(234,225,213,0.3);
    width:100%;
    text-align: center;
    padding-top:20px;
    min-height: 350px;
}
.height1{
    height: 34px;
}
.form-desgin{
    margin:0 auto;
    margin-bottom: 15px;
    display: block;
    width: 80%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 4px;
}
footer {
    margin: 0 auto;
    background: #1D1D3c;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #F4DAF7;
}
.icon{
    font-family: 'brandico', sans-serif;
    background: transparent;
    color:#F4DAF7;
    text-decoration: none;

}
@media screen and (min-width:600px){
    #menu{
        display: none;
    }
    #nav{
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width:100%;
        z-index: -1;
        margin:0;
        
    }
    .nav-link:hover{
        text-decoration: underline;
    }
    #nav-list{
        float: right;
        margin:0;
        max-width: 1300px;
        box-sizing: border-box;
        padding-right: 100px;
    }
    #nav-list li{
        margin-right: 35px;
        float: right;
        padding-top:10px;   
        box-sizing: border-box;
    }
    
    #about,#projects,#contact{
        margin:0 auto;
        max-width:1300px;
    }
    #projectes-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .proj{
        width:40%;
        
    }
    #contact-form{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }
    #left{
        width:50%;
    }
    #right{
        width: 50%;
    }
    textarea{
        height: 85%;
    }
    
}
@media screen and (min-width:1300px){
    header{
        width:1300px;
    }
    footer{
        width: 1300px;
    }
    .proj{
        width:30%;
    }
}
