body,html{
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding:0;
}
header{
    position: fixed;
    width: 100%;
    background: #1D1D3c;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1; 
}

#logo{
    position: inherit;
    padding:5px 20px 0 10px;
    border:3px solid #A0A0E0;
    background: #F4DAF7;
    margin-left: 50px;
    margin-top: 20px;
}

#first{
    display: block;
    color:#7D4CAC;
    z-index: 2;
    position: relative;
}
#second{
    color:#1D1D3c;
    z-index: 1;
    bottom: 10px;
    left:10px;
    position: relative;
}
ul{
    position: inherit;
    list-style-type: none;

    float:right;
}
li{
    display: inline;
    padding-right: 15px;
    color: #F4DAF7;
}
a{
    font-family: 'Open Sans', sans-serif;
    color: #F4DAF7;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.aa{
    display: block;
    
}
.image{
    margin: 0 auto;
    background-color: #7D4CAC;
    background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1081176/1160/773/m1/fpnw/wm1/1-.jpg?1457878073&s=541e3a6d63caf077674adc42e019bb70);
    height: 400px;
    max-width: 1300px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .3;


}

@media screen and (min-width:1300px){
    header{
        width:1300px;
    }
}